# Virtual Environment
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Environment Variables
.env
.env.*
!.env.example

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
adds/
test/
*.log